@mixin headline_desktop {
  font: {
    weight: 500;
    size: 48px;
  }
  line-height: 64px;
  letter-spacing: 0.04em;
}

@mixin headline_tablet {
  font: {
    weight: 500;
    size: 32px;
  }
    line-height: 40px;
    letter-spacing: 0.04em;
}

@mixin headline_mobile {
  font: {
    weight: 500;
    size: 24px;
  }
    line-height: 32px;
    letter-spacing: 0.04em;
}

@mixin lead_desktop_tablet {
  font: {
    weight: 500;
    size: 32px;
  }
  line-height: 44px; 
  letter-spacing: 0.02em;
}

@mixin lead_mobile {
  font: {
    weight: 500;
    size: 20px; 
  }
  line-height: 28px;
}

@mixin buttons_desktop_tablet {
  font: {
    weight: 500;
    size: 16px;
  }
  line-height: 24px;
  letter-spacing: 0.02em;
}

@mixin buttons_mobile {
  font: {
    weight: 500;
    size: 14px; 
  }
  line-height: 20px;
  letter-spacing: 0.02em;
}

@mixin text_desktop_tablet {
  font: {
    weight: 400;
    size: 20px; 
  }
  line-height: 32px;
}

 @mixin text_mobile {
  font: {
    weight: 400;
    size: 16px;
  }
  line-height: 24px;
 }
 @mixin text_mobile_agree {
  font: {
   weight: 400;
   size: 14px;
  }
line-height: 20px;
 }

 
