$coltext:  #0A0A0A;
$coltextblack:#FFFFFF;

$headback: #E7E7E2;
$mainback: #FFFFFF;
$footback: #0A0A0A;
$menubackmain: #0A0A0A;
$menubackplus: #666666;

$butheight: 48px;
$butheightmobile: 44px;

$desKtop: 1440px;
$tablet: 768px;
$mobile: 320px;

$medistablet: 1439px;
$mediamobile: 767px;
$mediatablooks: 1090px;
$mediamoblooks: 510px;

$font-name: 'Prompt', Arial, sans-serif;
$font-weight-standart: 500;
$font-weight-plus: 400;
$font-style: normal;
