.about {
  margin-top: 80px;
  @media screen and (max-width: $medistablet) {
    margin-top: 60px;
  }
  @media screen and (max-width: $mediamobile) {
    margin-top: 40px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    @media screen and (max-width: $medistablet) {
      padding-bottom: 70px;
    }
    @media screen and (max-width: $mediamobile) {
      flex-direction: column;
      gap: 20px;
      padding-bottom: 40px;
    }
  }
  &__subtitle {
    @include headline_desktop;
    margin: 0;
    width: 50%;
    @media screen and (max-width: $medistablet) {
      @include headline_tablet;
    }
    @media screen and (max-width: $mediamobile) {
      @include headline_mobile;
      width: 100%;
    }
  }
  &__text {
    @include text_desktop_tablet;
    margin: 0;
    width: 50%;
    @media screen and (max-width: $medistablet) {
    }
    @media screen and (max-width: $mediamobile) {
      @include text_mobile;
      width: 100%;
    }
  }
}
