.form {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  width: calc(100% - 350px * 2);
  @media screen and (max-width: $medistablet) {
    width: calc(100% - 120px * 2);
  }
  @media screen and (max-width: $mediamobile) {
    padding: 30px 0;
    width: 100%;
  }
  &__subtitle {
    @include text_desktop_tablet;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
    @media screen and (max-width: $mediamobile) {
      @include text_mobile;
    }
  }
  &__box {
    padding-bottom: 20px;
    display: flex;
    @media screen and (max-width: $mediamobile) {
      flex-direction: column;
      width: 100%;
    }
  }
  &__input {
    width: calc(100% - 114px);
    min-height: calc($butheight - 1.6px);
    background-color: $footback;
    border: 0.5px solid $coltextblack;
    padding: 0 0 0 24px;

    @media screen and (max-width: $mediamobile) {
      text-align: center;
      width: 100%;
      padding: 0;
    }
  }
  &__agree {
    display: flex;
  }
  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  &__visiblebox {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border: 1px solid $coltextblack;
    margin: 6px 10px 0 0;
  }
  &__visiblebox:hover {
    cursor: pointer;
  }
  &__checkbox:checked + &__visiblebox {
    background-image: url(../images/icon_agree.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  &__text {
    margin: 0;
    @include text_mobile;
    @media screen and (max-width: $mediamobile) {
      @include text_mobile_agree;
    }
  }
}
